build/
cmake-build-debug/
cmake-build-release/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.exe
*.out
*.app

*.txt

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.dylib


*.dSYM/
*.gdb_history

.vscode/
.idea/


.DS_Store
Thumbs.db
